.about {
  width: @mobileWidth;
  .centerBlock();
  margin-top: 30px;
}

.about__caption {
  margin: 0;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  .setH1Font();
}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.about__list,
.about__list-second {
  .ulReset();
  .setH2Font();
}

.about__item {
  display: block;
  position: relative;
  height: 120px;
  margin-bottom: 2px;
}

.about__item-text {
  position: absolute;
  bottom: 25px;
  line-height: 20px;
}

@media (min-width: @tabletScreen) {
  .about {
    margin-top: 70px;
    width: @tabletWidth;
  }

  .about__caption {
    height: 145px;
    line-height: 150px;
    .setH0FontTab();
  }

  .about__wrapper {
    flex-direction: row;
  }

  .about__list,
  .about__list-second {
    width: 50%;
    .setHAFontTab();
  }

  .about__item {
    height: 150px;
    margin-bottom: 5px;
  }

  .about__item-text {
    bottom: 50px;
  }
}

@media (min-width: @desktopScreen) {
  .about {
    margin-top: 110px;
    width: @desktopWidth - 2 * @mainHSecondMarginDesk;
  }

  .about__caption {
    height: 150px;
    line-height: 150px;
    .setH0FontDesk();
  }

  .about__list,
  .about__list-second {
    width: 350px;
  }
}
