.about{
  margin: 40px @mainHMargin 30px @mainHMargin;  
}

.about__caption{
  margin: 30px 0px;
  .setH1Font();
}

.about__list{
  .ulReset();
  .setH2Font();
}

.about__item{
  display: block;
  position: relative;
  height: 120px;
  margin-bottom: 2px;  
}

.about__item-text{
  position: absolute;
  bottom: 25px;
  line-height: 20px;
}
