@captionTextPadding: 70px;
@captionTextPaddingTab: 90px;

.caption-index {
  margin: 0;
  padding: @captionTextPadding 0 0 0;
  height: 280px - @captionTextPadding;
  width: @mobileWidth;
  .centerBlock();
  .setBG(url(../img/hero-mobile@1x.jpg) no-repeat 50% -20px);
}

.caption-index__text {
  margin: 0;
  padding: 0;
  .setH0Font();
  text-align: center;
  line-height: 30px;
}

@media (min-width: @tabletScreen) {
  .caption-index {
    padding-top: @captionTextPaddingTab;
    height: 565px - @captionTextPaddingTab;
    width: @tabletWidth;
  }

  .caption-index__text {
    .setH0FontTab();
    line-height: 50px;
  }
}

@media (min-width: @desktopScreen) {
  .caption-index {
    width: @desktopWidth;
  }

  .caption-index__text {
    .setH0FontDesk();
    line-height: 60px;
  }
}
