.caption {
  height: 170px;  
  .setBG(#f1f1f1);
  width: @mobileWidth + 2 * @mainHMargin;
  .centerBlock();
  margin-bottom:35px;
}

.caption__text {
  margin: 0;
  padding: 0;
  .setH0Font();
  text-align: center;
  line-height: 170px;
  width: @mobileWidth;
  .centerBlock();
}

@media (min-width: @tabletScreen) {
  .caption {
	width: @tabletWidth + 2 * @mainHMarginTab;
	height: 160px;
	margin-bottom:80px;
  }
  
  .caption__text {
	width: @tabletWidth;
	.setH0FontTab();
	line-height: 120px;
  }
}

@media (min-width: @desktopScreen) {
  .caption {
	width: @desktopWidth + 2 * @mainHMarginDesk;
	height: 190px;
	margin-bottom: 130px;
  }
  
  .caption__text {
	width: @desktopWidth;
	.setH0FontDesk();
  }
}

