.contacts{
  margin: 90px 0px 0px 0px;
}

.contacts__caption{
  margin: 0px @mainHMargin;
  .setFontOSBfamily(17);
}

.contacts__info{
  margin: 30px @mainHMargin;
  width: 100%;
  .setPFont();
  color: @mainTextColor;
}

.contacts__field{
  padding: 0;
  vertical-align: top;
}
.contacts__field a{
  color: @mainTextColor;
  text-decoration: none;
}

.contacts__address-row{
  margin: 0;
  padding: 0;
}

.contacts__map{
  margin-top: 100px;
  width: 100%;
}

.contacts__send-box{
  margin: 35px @mainHMargin;
}

.contacts__send{
  .setButton();
}
