.htmlacademy{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 75px;
  .setBG(#f1f1f1);   
}

.htmlacademy__link{  
  display: flex;
  justify-content:center;
  align-items: center;
  .setHAFont();  
  text-decoration: none;
  color:#000000;
}

.htmlacademy__logo{
  margin-left: 25px;
}
