.menu-catalog {
  .ulReset();
  display: flex;
  flex-direction: column;
  width: @mobileWidth + 2 * @mainHMargin;
  .centerBlock();
}

.menu-catalog__item {
  flex-grow: 1;
}

.menu-catalog__link {
  display: flex;
  align-items: center;
  height: 105px;
  line-height: 23px;
  text-decoration: none;
  margin: 0;
  padding: 0 @mainHMargin;
  color: white;
  .setHAFont();

  &--left {
    .setBG(#63d1bb url(../img/icon-interior.svg) no-repeat right 30px top 50%);
  }

  &--right {
    .setBG(#56c3b2 url(../img/icon-toy.svg) no-repeat right 20px top 50%);
  }
}

@media (min-width: @tabletScreen) {
  .menu-catalog {
    flex-direction: row;   
	width: @tabletWidth;	
  }

  .menu-catalog__item {
    width: 50%;
  }

  .menu-catalog__link {
    padding: 0 0 0 35px;
    line-height: 30px;
    height: 115px;
    .setHAFontTab();
  }
}

@media (min-width: @desktopScreen) {
  .menu-catalog {    
	width: @desktopWidth;
  }
}
