.product-week {
  padding: 0px @mainHMargin;
  border: @borderBetweenBlock;
}

.product-week__header{
  margin: 20px 0px;
}

.product-week__caption{
  .setH1Font();
  margin: 0;
}

.product-week__category{
  .setH2Font();
  color: @secondColor;
  margin: 0;
}

.product-week__description-box{
  .setPFont();
  color: @mainTextColor;
}

.product-week__description{
  margin: 0;
  padding: 5px 0px;
  line-height: 25px;
}

.product-week__properties{
  width: 100%;
  border-spacing: 0;
  margin: 5px 0px;
  vertical-align: middle;
}

.product-week__property{

}

.product-week__property-label{
  border-bottom: @borderBetweenBlock;
  height: 40px;
  width: 95px;
}

.product-week__property-value{
  border-bottom: @borderBetweenBlock;
}

.product-week__pic{
  margin: 20px 0px;
}

.product-week__footer{
  text-align: center;
}

.product-week__price{
  .setH2Font();
  color: @mainTextColor;
}

.product-week__order{
  .setButton();
  margin: 28px 0px;
}
