.product {
  margin: 0 0 30px 0;
  border: @borderBetweenBlock;
  width: @mobileWidth;
}

.product__link {
  display: block;
  width: 260px;
  height: 195px;
}

.product__pic {
  margin: 0;
}

.product__info {
  display: flex;
  flex-direction: column;
  width: @mobileWidth - 2 * 28px;
  height: auto;
  .centerBlock();
}

.product__caption {
  .setH2Font();
  margin: 25px 0 0 0;
}

.product__desc {
  .setSPFont();
  color: @mainTextColor;
  margin: 10px 0 0 0;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border-top: @borderBetweenBlock;
  margin-top: 25px;
  margin-bottom: 5px;
}

.product__price {
  .setH3Font();
}

.product__add {
  background: url("../img/icon-cart.svg") no-repeat;
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}

@media (min-width: @tabletScreen) {
  .product {
    width: @tabletWidth;
    margin: 0 0 50px 0;
  }

  .product__link {
    width: 335px;
    height: 335px;
    float: left;
  }

  .product__caption {
    .setHAFontTab();
  }

  .product__desc {
    .setPFont();
  }

  .product__price {
    .setH2Font();
    margin-left: 5px;
  }

  .product__info {
    margin-left: 0;
    padding-left: 25px;
    height: 335px;
    width: 305px;
  }

  .product__footer {
    margin-top: auto;
    width: 280px;
  }
}

@media (min-width: @desktopScreen) {
  .product {
    margin: 0 0 50px 0;
    height: 660px;
    width: 315px;
  }

  .product__link {
    float: none;
    height: 460px;
  }

  .product__info {
    height: 200px;
    width: auto;
  }

  .product__footer {
    margin-top: auto;
    width: 260px;
  }

  .product__price {
    margin-left: 0;
  }
}
