.soc-net{
  margin: 40px 0px 0px 0px;
  .setBG(#f1f1f1);
}
.soc-net__list{
  display: flex;
  .ulReset();
  justify-content:center;
  align-items: center;
  height: 75px;
  border: @borderBetweenBlock;
}

.soc-net__item{
  margin:0px 20px;
}
