.top-row {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 @mainHMargin;
  height: 80px; 
  border-bottom: @borderBetweenBlock; 
}

.top-row__menu-button {
  position: absolute;
  right: @mainHMargin;
  top: 25px;
  width: 23px;
  height: 40px;
  cursor: pointer;

  &--open {
    background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
  }

  &--close {
    background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
  }
}

@media (min-width: 768px) {
  .top-row__menu-button {
    display: none;
  }
  
  .top-row {
    justify-content: flex-start;
    height: 90px;
    padding: 0 @mainHMarginTab;
  }
}

@media (min-width: 1250px) {
  .top-row__menu-button {
    display: none;
  }
  
  .top-row {
    justify-content: center;
    height: 90px;    
  }
}
